.blocks-image-wrap {
    padding-bottom: var(--pc-height);
    overflow: hidden;
}

.blocks-image-wrap .blocks-image-pic, .blocks-image-wrap .placeholder-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .blocks-image-wrap {
        padding-bottom: var(--mb-height);
    }
}