.blocks-heading-content .blocks-content-heading {
    line-height: 1.2;
}

.blocks-heading-content .blocks-content-subheading {
    line-height: 1.25;
}

.blocks-heading-content .blocks-content-heading, .blocks-heading-content .blocks-content-subheading {
    font-weight: var(--font-weight, 400);
}
